<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bieitosousa.pmdm02">
    <!--android:icon="@mipmap/ic_launcher"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/sharp_calculate"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/round_calculate"
        android:supportsRtl="true"
        android:theme="@style/Theme.PMDM02">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
